<!DOCTYPE html>
<html>

<head>
    <title>
        yes...
    </title>
</head>

<body style="font-size: 40px;"></body>
<center>
    <h1>Welcome to my website</h1>
    <p>You are login.</p>
    <p>
        <%=name%>
    </p>
    <p>
        <%=email%>
    </p>
    <img src="<%=pic%>" alt="">

    <p><a href="/logout">Logout</a></p>
</center>
</body>

</html>